.slick-slider {
  margin: 2rem 0rem;
  height: 600px;
}
.slick-slider img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.slick-arrow::before {
  font-size: 30px;
}

.slick-prev {
  left: 25px;
  z-index: 10;
}

.slick-next {
  right: 25px;
  z-index: 10;
}

@media (max-width: 600px) {
  .slick-slider,
.slick-list,
.slick-track {
    height: 350px;
  }

  .carousel-image-container {
    height: 350px;
  }
  .carousel-image-container img {
    height: 100%;
  }
}
footer {
  position: sticky;
  top: 100%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  box-shadow: 0px 0px 10px rgb(167, 167, 167);
  background-color: #E4EAF0;
  margin-top: 2rem;
  padding: 1rem 0rem;
}

footer ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  border-radius: 3px;
}
@media (max-width: 960px) {
  footer ul {
    flex-direction: column;
  }
}

footer li {
  padding: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira sans";
  color: #001361;
}

html {
  height: 100%;
}

#root {
  min-height: 100vh;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

.contentBlock {
  position: relative;
  margin: 3rem 0rem;
  max-width: 90%;
  display: flex;
  height: fit-content;
}
.contentBlock h2 {
  margin-bottom: 1rem;
}
.contentBlock .contentBlock__text {
  width: 55%;
  border: 10px solid #E4EAF0;
  border-radius: 5px;
  padding: 2rem 4rem 2rem 2rem;
  box-shadow: 0px 0px 10px rgb(155, 155, 155);
}
.contentBlock .contentBlock__text p {
  font-family: "Catamaran";
  font-size: 18px;
  margin-bottom: 2rem;
}
.contentBlock a {
  text-decoration: none;
}
.contentBlock .contentBlock__image-container {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 50%;
  height: 70%;
}
.contentBlock .contentBlock__image-container img {
  box-shadow: 0px 0px 5px rgb(107, 107, 107);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border: 5px solid #001361;
  border-radius: 5px;
  object-fit: cover;
}

.contentBlock-merch {
  position: relative;
  margin: 3rem auto;
  max-width: 90%;
  display: flex;
  height: fit-content;
}
.contentBlock-merch h2 {
  margin-bottom: 1rem;
}
.contentBlock-merch .contentBlock-merch__text {
  width: 55%;
  border: 10px solid #E4EAF0;
  border-radius: 5px;
  padding: 2rem 4rem 2rem 2rem;
  box-shadow: 0px 0px 10px rgb(155, 155, 155);
}
.contentBlock-merch .contentBlock-merch__text p {
  font-family: "Catamaran";
  font-size: 18px;
  margin-bottom: 2rem;
}
.contentBlock-merch a {
  text-decoration: none;
}
.contentBlock-merch .contentBlock-merch__icon-container {
  display: flex;
  list-style: none;
  margin-bottom: 2rem;
}
.contentBlock-merch .contentBlock-merch__image-container {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 50%;
  height: 80%;
  border: 5px solid #001361;
  border-radius: 5px;
}
.contentBlock-merch .contentBlock-merch__image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 960px) {
  .contentBlock, .contentBlock-merch {
    flex-direction: column !important;
    width: 100% !important;
  }

  .contentBlock__text, .contentBlock-merch__text {
    width: 100% !important;
    padding: 2rem !important;
  }

  .contentBlock__image-container, .contentBlock-merch__image-container {
    position: static !important;
    width: 100% !important;
    margin-top: 1rem;
  }
}
.cta-1 {
  background-color: #33ec33;
  font-family: "Fira sans";
  color: white;
  width: 200px;
  height: 55px;
  text-align: center;
  margin: 3rem auto;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  display: block;
}

.cta-1:hover {
  background-color: #62f062;
}

.bassene-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 22px;
}

.employeeCard {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 2rem 0rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 1rem;
  box-shadow: 0px 0px 5px #ccc;
}

.employeeCard__text-container {
  display: flex;
  flex-direction: column;
}
.employeeCard__text-container h4 {
  margin: 0.5rem 0rem;
}
.employeeCard__text-container h5 {
  margin-bottom: 0.5rem;
  font-style: italic;
  font-weight: 500;
}
.employeeCard__text-container p {
  font-family: "Catamaran";
  font-weight: 500;
  margin-bottom: 1rem;
}

.employeeCard__image-container {
  height: 60%;
  height: 400px;
}
.employeeCard__image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0px -80px;
}

.employeeCard__social-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

@media (max-width: 970px) {
  .bassene-container {
    grid-auto-rows: auto !important;
    grid-template-columns: 1fr;
  }

  .employeeCard {
    height: fit-content;
    max-width: 550px;
    margin: 0 auto;
  }

  .employeeCard__text-container {
    margin-bottom: 1rem;
  }

  .employeeCard__social-container {
    flex-direction: column;
  }
  .employeeCard__social-container p {
    margin: 0.5rem auto;
  }
}
@media screen and (max-width: 750px) {
  .bassene-container {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  box-shadow: 0px 0px 10px rgb(167, 167, 167);
}

nav ul {
  display: flex;
  list-style: none;
}

.logoContainer {
  height: 100%;
  margin: 0 auto;
}

.logoContainer img {
  height: 100%;
}

.nav__link-container,
.nav__icon-container {
  width: 355px;
}
@media (max-width: 440px) {
  .nav__link-container,
.nav__icon-container {
    width: 100%;
  }
}

.nav__icon-container {
  justify-content: flex-end;
}

.nav__link-container a {
  margin-right: 1rem;
  text-decoration: none;
  font-family: "Fira sans";
  font-size: 18px;
}

.nav__link-container a:hover {
  text-decoration: underline;
}

.nav__icon-container li, .some-link {
  margin-left: 1rem;
  font-size: 1.5rem;
  transition: all 0.2s;
  box-shadow: 0px 0px 3px rgb(138, 138, 138);
  width: 55px;
  height: 40px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transition: all 0.2s;
}

.nav__icon-container li:hover {
  scale: 1.1;
  cursor: pointer;
  -webkit-transform: scale(1.1);
}

#youtube svg path {
  color: #FF0000 !important;
}

#facebook svg path {
  color: #4267B2 !important;
}

#instagram svg path {
  color: #8a3ab9 !important;
}

#tiktok svg path {
  color: black !important;
}

#youtube svg path {
  color: #FF0000 !important;
}

@media (max-width: 960px) {
  .logoContainer {
    height: 50%;
  }

  .nav__link-container,
.nav__icon-container {
    justify-content: space-between;
  }
  .nav__link-container li, .nav__link-container a,
.nav__icon-container li,
.nav__icon-container a {
    margin: 0;
  }

  .nav__link-container {
    margin-top: 1rem;
  }

  nav {
    height: 200px;
  }
  nav .wrapper {
    flex-direction: column;
    height: 100%;
  }
}
.wrapper {
  max-width: 90%;
  width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: 2rem 0rem;
  font-size: 42px;
}

.wrapper--flex-row {
  display: flex;
  align-items: center;
  height: 100%;
}

.wrapper--flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBlock-wrapper {
  width: 100%;
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 650px;
}

.contentBlock-merch-wrapper {
  width: 100%;
  padding: 0.5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.some-wrapper {
  padding: 2rem 0rem;
  background-color: #E4EAF0;
  width: 100%;
  box-shadow: 0px 0px 5px rgb(169, 168, 168);
}

.some-wrapper_top-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  width: 1200px;
  margin: 1rem auto;
  padding: 2rem 0rem;
  box-shadow: 0px 0px 5px rgb(196, 196, 196);
  border-radius: 3px;
  font-family: "Catamaran";
}
.some-wrapper_top-container h2 {
  color: black;
  font-family: "Fira sans";
}
.some-wrapper_top-container p {
  color: black;
  margin-top: 1rem;
  max-width: 90%;
  text-align: center;
  font-family: "Catamaran";
  font-size: 18px;
}
.some-wrapper_top-container li {
  transition: all 0.2s;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transition: all 0.2s;
}
.some-wrapper_top-container li:hover {
  scale: 1.1;
  cursor: pointer;
  -webkit-transform: scale(1.1);
}

.some-wrapper__icon-container {
  display: flex;
  list-style: none;
  margin: 2rem 0rem 0.5rem 0rem;
}

.some-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.some-container img {
  object-fit: cover;
  height: 220px;
  width: 100%;
}

@media (max-width: 530px) {
  .some-wrapper__icon-container {
    width: 100%;
    justify-content: space-between;
    padding: 0rem 0.5rem;
  }

  .some-wrapper__icon-container a {
    margin: 0;
  }
}
.series-container {
  display: flex;
  width: 100%;
  border: 1px solid #ccc;
  margin: 3rem 0rem;
  padding: 0.25rem;
  box-shadow: 0px 0px 5px rgb(144, 144, 144);
}

.series-container__image-container {
  width: 50%;
}
.series-container__image-container img {
  display: block;
  height: 275px;
  width: 100%;
  object-fit: cover;
}

.series-container__text-container {
  width: 75%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.series-container__text-container p {
  color: rgb(0, 19, 97);
  margin-top: 1rem;
  font-family: "Catamaran";
  font-size: 18px;
}

.series-container__text-container__link-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.series-container__text-container__link-container .youtube path {
  color: red;
}

.series-container__text-container__link-container__link {
  border: 2px solid #001361;
  border-radius: 3px;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px rgb(144, 144, 144);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.series-container__text-container__link-container__link svg {
  margin-left: 0.5rem;
}

#linkwrapper {
  margin: 0;
  display: inline;
}

.series-container__text-container__link-container__link:last-child svg {
  font-size: 20px;
}

.series-container__text-container__link-container__link:hover {
  scale: 1.1;
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

@media (max-width: 780px) {
  .series-container {
    flex-direction: column;
  }

  .series-container__image-container {
    width: 100%;
  }
  .series-container__image-container img {
    height: auto;
  }

  .series-container__text-container {
    width: 100%;
  }

  .series-container__text-container__link-container {
    margin: 1rem 0rem;
    flex-direction: column;
  }

  .series-container__text-container__link-container__link {
    margin-bottom: 0.75rem;
  }
}
.show-container {
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
}
.show-container h1 {
  color: black;
}
.show-container h2 {
  margin: 6rem 0rem 3rem 0rem;
  text-align: center;
  color: black;
}

.show-container__image-container {
  position: relative;
  width: 100%;
}
.show-container__image-container img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.show-container__image-container__link {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.537);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.show-container__image-container__link svg {
  height: 30px;
}

.show-container__image-container__link:hover {
  background-color: white;
}

.show-container__text-container p {
  margin-top: 1rem;
  font-family: "Catamaran";
  font-size: 18px;
  line-height: 1.75rem;
  color: black;
}
.show-container__text-container a {
  max-width: 300px;
  margin: 1.5rem auto;
  border: 2px solid #001361;
  border-radius: 3px;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px rgb(107, 107, 107);
}
.show-container__text-container a:hover {
  scale: 1.1;
  cursor: pointer;
  -webkit-transform: scale(1.1);
}
.show-container__text-container svg {
  font-size: 25px;
}
.show-container__text-container .fa-instagram {
  margin-right: 0.5rem;
}
.show-container__text-container .fa-tiktok {
  margin-left: 0.5rem;
}

.fa-youtube path {
  color: red;
}

.show-container__text-container--some {
  font-size: 30px !important;
  font-weight: 600;
  text-align: center;
  margin: 2.5rem 0rem !important;
  color: black;
  font-style: italic;
}
.show-container__text-container--some .fa-tiktok path {
  color: black;
}
.show-container__text-container--some .fa-instagram path {
  color: black;
}

.show-container__demography-container {
  box-shadow: 0px 0px 5px rgb(107, 107, 107);
  padding: 0.25rem;
  margin-bottom: 5rem;
}
.show-container__demography-container p {
  font-family: "Catamaran";
  font-size: 18px;
}

.demography-container__youtube-container {
  display: flex;
  background: #E4EAF0;
  padding: 1rem;
  justify-content: space-evenly;
  align-items: center;
}
.demography-container__youtube-container img {
  width: 135px;
  height: 40px;
}
.demography-container__youtube-container p, .demography-container__youtube-container strong {
  color: black;
}

.demography-container__youtube-container p {
  margin: 0rem 1rem 0rem 1rem;
}

@media (max-width: 900px) {
  .demography-container__youtube-container {
    flex-direction: column;
  }
  .demography-container__youtube-container p {
    margin-top: 0.75rem;
  }
}
@media (max-width: 700px) {
  .show-container__image-container {
    height: 200px;
  }
  .show-container__image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #demography,
.graph-container {
    display: none !important;
  }

  .show-container__text-container a {
    margin: 2.5rem auto;
  }

  .demography-container__youtube-container p {
    margin: 0.5rem auto;
  }
}
.graph-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
  height: 300px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5rem;
}
.graph-container ul {
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #ccc;
}
.graph-container li:last-child {
  margin-bottom: 1rem;
}

.graph-container__item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.graph-container__item p:last-child {
  position: absolute;
  top: 310px;
  text-align: center;
}

.graph-container__item__column {
  background-color: #33ec33;
  width: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.graph-container li,
.graph-container__item p {
  color: black;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #868686;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.om-loff {
  max-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
}
.om-loff p {
  margin-bottom: 1.5rem;
}
.om-loff p:last-of-type {
  margin-bottom: 5rem;
}
.om-loff img {
  width: 100%;
  margin-bottom: 1.5rem;
}

.om-loff--bold-center {
  font-weight: bold;
  text-align: center;
  margin: 3rem 0rem !important;
}

/*# sourceMappingURL=App.css.map */
