.carousel-container {
    width: 100%;
    height: 550px;
    display: flex;
    position: relative;
    margin-top: 3rem;
    box-shadow: 0px 0px 8px rgb(90, 90, 90);
}
.carousel {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.carousel-item {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    scroll-snap-align: start;
    position: relative;
}
.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
}
.carousel-button {
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    position: absolute;
    top: 45%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @media (width < 500px) {
        display: none;
    }
}
.carousel-button:hover {
    background-color: rgb(197, 196, 196, 0.5);
}
.carousel-button-left {
    left: 20px;
}
.carousel-button-right {
    right: 20px;
}
.carousel-button__arrow {
border-top: 2px solid white;
border-right: 2px solid white;
height: 15px;
width: 15px;
}
.carousel-button__arrow--right{
position: absolute;
transform: rotate(45deg);
right: 15px;
}
.carousel-button__arrow--left {
    position: absolute;
    transform: rotate(-135deg);
    left: 15px;
}